In [1]:
# Step 3: Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load your data from CSVs
df_sales = pd.read_csv('sales_data3.csv')
df_costs = pd.read_csv('costs_data.csv')
df_customers = pd.read_csv('customer_data.csv')
df_menu = pd.read_csv('menu_data.csv')

In [4]:
df_sales.head()
df_costs.head()
df_customers.head()
df_menu.head()

   item_id  item_name category  price
0        1     Burger     Food   9.99
1        2      Fries     Food   4.99
2        3  Milkshake    Drink   9.99

In [7]:
print(f"Sales columns: {df_sales.columns.tolist()}")
print(f"Costs columns: {df_costs.columns.tolist()}")

Sales columns: ['sale_id', 'date', 'customer_id', 'item_id', 'quantity', 'total_price']
Costs columns: ['item_id', 'cost_per_item']

In [13]:
import pandas as pd

# 1. Load files
df1 = pd.read_csv('sales_data3.csv')
df2 = pd.read_csv('costs_data.csv')

# 2. DEBUG: Print columns to see exactly what they are named
print("Columns in df1:", df1.columns.tolist())
print("Columns in df2:", df2.columns.tolist())

# 3. Standardize: Force everything to lowercase and strip spaces
df1.columns = df1.columns.str.strip().str.lower()
df2.columns = df2.columns.str.strip().str.lower()

# 4. Combine
df_combined = pd.concat([df1, df2], ignore_index=True)

# 5. Run summary using the LOWERCASE name 'restaurant'
# If your column is named 'store', change 'restaurant' to 'store' below
try:
    revenue_summary = df_combined.groupby('restaurant')['totalrevenue'].sum().reset_index()
    print("\nSummary Results:")
    print(revenue_summary)
except KeyError as e:
    print(f"\nStill failing! It can't find: {e}")
    print("Check the printed column names above—does 'restaurant' appear in BOTH lists?")

Columns in df1: ['sale_id', 'date', 'customer_id', 'item_id', 'quantity', 'total_price']
Columns in df2: ['item_id', 'cost_per_item']

Still failing! It can't find: 'restaurant'
Check the printed column names above—does 'restaurant' appear in BOTH lists?

In [18]:
print(df_menu.columns)
print(df_menu.head(1))

Index(['item_id', 'item_name', 'category', 'price'], dtype='object')
   item_id item_name category  price
0        1    Burger     Food   9.99

In [20]:
import pandas as pd

# 1. Clean up column names (removes hidden spaces and fixes case-sensitivity)
df_combined.columns = df_combined.columns.str.strip()

# 2. Check if the required columns exist before calculating
required_cols = ['TotalRevenue', 'Seats']
missing = [col for col in required_cols if col not in df_combined.columns]

if not missing:
    # Estimate total seat hours assuming 8 open hours
    # Formula: Total Revenue / (Number of Seats * Operating Hours)
    df_combined['RevPASH'] = df_combined['TotalRevenue'] / (df_combined['Seats'] * 8)
    print("RevPASH calculated successfully.")
else:
    print(f"Error: Missing columns {missing}")
    print("Available columns are:", df_combined.columns.tolist())

# Display the first few rows to verify
print(df_combined.head())

Error: Missing columns ['TotalRevenue', 'Seats']
Available columns are: ['sale_id', 'date', 'customer_id', 'item_id', 'quantity', 'total_price', 'cost_per_item']
   sale_id        date  customer_id  item_id  quantity  total_price  \
0      1.0  2025-01-01        101.0        1       2.0        19.98
1      2.0  2025-01-02        102.0        2       1.0         9.99
2      3.0  2025-01-03        103.0        3       3.0        29.97
3      4.0  2025-01-04        101.0        2       2.0        19.98
4      NaN         NaN          NaN        1       NaN          NaN

   cost_per_item
0            NaN
1            NaN
2            NaN
3            NaN
4            5.0

In [24]:
# 1. Let's look at your actual columns
print("Your columns are:", df.columns.tolist())

# 2. This code will try to find the right columns even if names are slightly different
import pandas as pd

# Search for the most likely column names (case-insensitive)
def find_col(possible_names):
    for col in df.columns:
        if col.strip().lower() in possible_names:
            return col
    return None

cat_col = find_col(['category', 'item_category', 'dept', 'type'])
rev_col = find_col(['revenue', 'sales', 'total_sales', 'amount'])
prof_col = find_col(['profit', 'net_profit', 'margin'])

if not cat_col or not rev_col or not prof_col:
    print(f"Error: Could not find one of the columns. Found: Cat={cat_col}, Rev={rev_col}, Prof={prof_col}")
else:
    # 3. Create summaries using the found names
    revenue_summary = df.groupby(cat_col)[rev_col].sum().reset_index()
    profit_summary = df.groupby(cat_col)[prof_col].sum().reset_index()

    # Calculate margin
    margin_summary = profit_summary.copy()
    margin_summary['ProfitMargin'] = margin_summary[prof_col] / revenue_summary[rev_col]

    # 4. Save
    revenue_summary.to_csv('revenue_summary.csv', index=False)
    profit_summary.to_csv('profit_summary.csv', index=False)
    margin_summary.to_csv('menu_profit_margin.csv', index=False)

    print(f"Success! Used columns: '{cat_col}', '{rev_col}', and '{prof_col}'")

Your columns are: ['item_id', 'cost_per_item']
Error: Could not find one of the columns. Found: Cat=None, Rev=None, Prof=None