In [1]:
import pandas as pd
import numpy as np

In [2]:
# Define time range
dates = pd.date_range(start="2026-01-01", end="2026-01-31", freq="H")

sales_df = pd.DataFrame({
    "datetime": dates,
    "total_revenue": np.random.randint(200, 800, size=len(dates)), 
    "num_transactions": np.random.randint(10, 60, size=len(dates))
})

sales_df["avg_check"] = sales_df["total_revenue"] / sales_df["num_transactions"]

sales_df.head()

/var/folders/88/w4w1n8l12kd_z42_6mrnndmw0000gn/T/ipykernel_80358/2475895865.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(start="2026-01-01", end="2026-01-31", freq="H")

             datetime  total_revenue  num_transactions  avg_check
0 2026-01-01 00:00:00            345                52   6.634615
1 2026-01-01 01:00:00            731                41  17.829268
2 2026-01-01 02:00:00            254                31   8.193548
3 2026-01-01 03:00:00            312                12  26.000000
4 2026-01-01 04:00:00            477                19  25.105263

In [3]:
menu_items = ["Spicy Wings", "Fire Burger", "Chili Fries", "Hot Drumsticks", "Spicy Salad"]
menu_df = pd.DataFrame({
    "item": menu_items,
    "price": [8.99, 12.99, 6.49, 10.99, 7.49],
    "cost_of_ingredients": [3.50, 5.20, 2.30, 4.80, 3.10]
})

menu_df["profit_margin_pct"] = ((menu_df["price"] - menu_df["cost_of_ingredients"]) / menu_df["price"]) * 100

menu_df

             item  price  cost_of_ingredients  profit_margin_pct
0     Spicy Wings   8.99                  3.5          61.067853
1     Fire Burger  12.99                  5.2          59.969207
2     Chili Fries   6.49                  2.3          64.560863
3  Hot Drumsticks  10.99                  4.8          56.323931
4     Spicy Salad   7.49                  3.1          58.611482

In [4]:
inventory_df = pd.DataFrame({
    "date": pd.date_range(start="2026-01-01", periods=31),
    "beginning_inv": np.random.uniform(1000, 2000, 31),
    "purchases": np.random.uniform(800, 1600, 31),
    "ending_inv": np.random.uniform(900, 1800, 31)
})

inventory_df["cogs"] = inventory_df["beginning_inv"] + inventory_df["purchases"] - inventory_df["ending_inv"]
inventory_df["food_cost_pct"] = round((inventory_df["cogs"] / (inventory_df["cogs"] + inventory_df["ending_inv"])) * 100, 2)

inventory_df.head()

,date,beginning_inv,purchases,ending_inv,cogs,food_cost_pct
0,2026-01-01,1920.360468,1584.852164,1559.506501,1945.706131,55.51
1,2026-01-02,1389.248954,812.145694,1556.837519,644.557129,29.28
2,2026-01-03,1565.331796,1517.237495,1786.267379,1296.301912,42.05
3,2026-01-04,1622.934967,1396.258054,1758.934741,1260.258281,41.74
4,2026-01-05,1249.442929,818.740530,1611.604546,456.578913,22.08

In [5]:
# Suppose 50 seats are available each hour
sales_df["RevPASH"] = sales_df["total_revenue"] / (50 * 1)

In [6]:
staff_df = pd.DataFrame({
    "date": pd.date_range(start="2026-01-01", periods=31),
    "labor_cost": np.random.uniform(800, 2000, 31),
    "hours_worked": np.random.uniform(60, 180, 31)
})

staff_df["labor_cost_pct"] = (staff_df["labor_cost"] / inventory_df["cogs"]) * 100
staff_df["employee_turnover"] = np.random.uniform(3, 15, 31)

staff_df.head()

        date   labor_cost  hours_worked  labor_cost_pct  employee_turnover
0 2026-01-01  1445.206638     77.603937       74.276717          13.715393
1 2026-01-02   996.967397    152.493781      154.674792           8.446876
2 2026-01-03  1101.461649    127.978077       84.969531          11.481177
3 2026-01-04  1509.535525    104.980344      119.779854           4.560010
4 2026-01-05  1491.907538    162.413633      326.757871          13.613663

In [7]:
cust_df = pd.DataFrame({
    "date": pd.date_range(start="2026-01-01", periods=31),
    "reservations": np.random.randint(20, 70, 31),
    "avg_rating": np.random.uniform(3.5, 5.0, 31),
    "popular_requests": np.random.choice(["Extra Spicy", "No Onions", "Gluten Free", None], 31)
})

cust_df.head()

        date  reservations  avg_rating popular_requests
0 2026-01-01            20    3.834142      Gluten Free
1 2026-01-02            34    4.261153             None
2 2026-01-03            52    4.597529      Gluten Free
3 2026-01-04            67    4.497493        No Onions
4 2026-01-05            24    4.560995             None

In [9]:
master = sales_df.copy()

# Keep as datetime64[ns]
master["date"] = master["datetime"].dt.normalize()

# Make sure other dataframes are also datetime64
inventory_df["date"] = pd.to_datetime(inventory_df["date"]).dt.normalize()
staff_df["date"] = pd.to_datetime(staff_df["date"]).dt.normalize()
cust_df["date"] = pd.to_datetime(cust_df["date"]).dt.normalize()

# Merge
master = master.merge(inventory_df, how="left", on="date")
master = master.merge(staff_df, how="left", on="date")
master = master.merge(cust_df, how="left", on="date")

master.head()

,datetime,total_revenue,num_transactions,avg_check,RevPASH,date,beginning_inv,purchases,ending_inv,cogs,food_cost_pct,labor_cost,hours_worked,labor_cost_pct,employee_turnover,reservations,avg_rating,popular_requests
0,2026-01-01 00:00:00,345,52,6.634615,6.90,2026-01-01,1920.360468,1584.852164,1559.506501,1945.706131,55.51,1445.206638,77.603937,74.276717,13.715393,20,3.834142,Gluten Free
1,2026-01-01 01:00:00,731,41,17.829268,14.62,2026-01-01,1920.360468,1584.852164,1559.506501,1945.706131,55.51,1445.206638,77.603937,74.276717,13.715393,20,3.834142,Gluten Free
2,2026-01-01 02:00:00,254,31,8.193548,5.08,2026-01-01,1920.360468,1584.852164,1559.506501,1945.706131,55.51,1445.206638,77.603937,74.276717,13.715393,20,3.834142,Gluten Free
3,2026-01-01 03:00:00,312,12,26.000000,6.24,2026-01-01,1920.360468,1584.852164,1559.506501,1945.706131,55.51,1445.206638,77.603937,74.276717,13.715393,20,3.834142,Gluten Free
4,2026-01-01 04:00:00,477,19,25.105263,9.54,2026-01-01,1920.360468,1584.852164,1559.506501,1945.706131,55.51,1445.206638,77.603937,74.276717,13.715393,20,3.834142,Gluten Free

In [10]:
master.to_csv("spicy_chicken_manchester_metrics.csv", index=False)